stages:
  - build

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  IMAGE_NAME: "$REGISTRY_URL/sparta.app"
  IMAGE_TAG: "$CI_COMMIT_SHA"

build:
  stage: build
  image: docker:24.0.5-cli
  services:
    - docker:24.0.5-dind
  before_script:
    - apk add --no-cache curl
    - docker info
    - echo $REGISTRY_PASSWORD | docker login -u $REGISTRY_USER --password-stdin $REGISTRY_URL
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:$IMAGE_TAG
    - docker push $IMAGE_NAME:latest
  after_script:
    - docker logout $REGISTRY_URL
  only:
    - main